<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>AIRS | Resume Recognition System</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Bootstrap App Landing Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png" />
  
  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="../static/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="../static/plugins/slick/slick.css">
  <link rel="stylesheet" href="../static/plugins/slick/slick-theme.css">
  <link rel="stylesheet" href="../static/plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="../static/plugins/aos/aos.css">

  <!-- CUSTOM CSS -->
  <link href="../static/css/style.css" rel="stylesheet">

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img src="../static/images/logo_removebg.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown @@home">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Home
            <span><i class="ti-angle-down"></i></span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item @@home1" href="/">Homepage</a></li>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown @@pages">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages
            <span><i class="ti-angle-down"></i></span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item @@team" href="/team">Team</a></li>
          </ul>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item @@contact">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>About AIRS</h1>
				<!-- Page Description -->
				<div style="text-align: justify;">
					<p> Aplikasi inovatif yang memanfaatkan teknologi Natural Language Processing (NLP) dan metode TF-IDF serta Cosine Similarity untuk menyederhanakan proses seleksi CV secara otomatis berdasarkan persyaratan lowongan kerja. AIRS dirancang untuk membantu perusahaan dalam menyeleksi calon karyawan dengan cepat dan efisien.</p>
				
					<p> Dengan AIRS, Anda dapat memastikan bahwa setiap CV yang diterima akan dianalisis secara cermat dan relevan dengan kebutuhan posisi yang tersedia. Teknologi NLP memungkinkan AIRS untuk memahami konten CV dengan lebih baik, sementara metode TF-IDF dan Cosine Similarity membantu mengukur sejauh mana kemiripan antara CV dan deskripsi pekerjaan. Dengan demikian, AIRS dapat mempercepat proses rekrutmen Anda, menghemat waktu, dan meningkatkan akurasi dalam pemilihan kandidat yang sesuai.</p>
					
					<p> Kami berkomitmen untuk menyediakan solusi inovatif bagi perusahaan yang ingin meningkatkan efisiensi dalam proses rekrutmen.</p>
				</div>
				
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!--===============================
=            Our Story            =
================================-->
<section class="section about p-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 align-self-center">
				<div class="content text-center text-lg-left">
					<!-- Headline -->
					<h2>This is our story.</h2>
					<div style="text-align: justify;">
						<p>Ini adalah kisah kami di AIRS, di mana inovasi bertemu dengan kebutuhan. Kami adalah tim yang mempersembahkan aplikasi canggih menggunakan teknologi Natural Language Processing (NLP) dan metode TF-IDF serta Cosine Similarity untuk merampingkan proses seleksi CV otomatis berdasarkan persyaratan lowongan kerja.</p>
					
						<p>Bersama AIRS, kami berdedikasi untuk membantu perusahaan menemukan calon karyawan dengan cepat dan efisien. Setiap CV yang kami terima diproses secara cermat, memastikan kesesuaian dengan kebutuhan posisi yang tersedia. Teknologi NLP memungkinkan AIRS memahami setiap detail CV, sementara metode TF-IDF dan Cosine Similarity membantu mengukur sejauh mana kecocokan antara CV dan deskripsi pekerjaan. Dengan AIRS, proses rekrutmen menjadi lebih cepat, hemat waktu, dan lebih akurat dalam pemilihan kandidat yang sesuai.</p>
						
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt-4 mt-lg-0">
				<!-- Story Image Slider -->
				<div class="about-slider">
					<!-- Story Image -->
					<div class="item">
						<img class="w-100" src="../static/images/about/story-slider-01.jpg" alt="slider-image">
					</div>
					<!-- Story Image -->
					<div class="item">
						<img class="w-100" src="../static/images/about/story-slider-01.jpg" alt="slider-image">
					</div>
					<!-- Story Image -->
					<div class="item">
						<img class="w-100" src="../static/images/about/story-slider-01.jpg" alt="slider-image">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Our Story  ====-->

<!--================================
=            Behind Story          =
=================================-->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title mb-0">
					<h2>Why we created <a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a></h2>
					<div style="text-align: justify;">
						<p>Ketika memutuskan untuk membuat AIRS Apps, kami bertujuan untuk memberikan kemudahan akses dan penggunaan yang maksimal. Aplikasi ini memungkinkan Anda melakukan seleksi CV secara otomatis berdasarkan persyaratan lowongan kerja di mana saja dan kapan saja melalui berbagai perangkat.</p>
						
						<p>Komitmen kami adalah menyediakan alat yang inovatif dan efektif untuk mempercepat serta meningkatkan akurasi dalam proses rekrutmen perusahaan Anda. AIRS Apps hadir untuk membantu Anda membangun tim terbaik dan mencapai kesuksesan bersama.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Behind Story  ====-->

<!--==================================
=            Create Story            =
===================================-->
<section class="section create-stories pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="block">
					<!-- Image -->
					<img class="img-fluid" src="../static/images/blog/post-01.jpg" alt="Story-Image">
					<!-- Heading -->
					<h3>Our Story</h3>
					<!-- Story -->
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
				</div>
			</div>
			<div class="col-lg-6 mt-5 mt-lg-0">
				<div class="block">
					<!-- Image -->
					<img class="img-fluid" src="../static/images/blog/post-03.jpg" alt="Story-Image">
					<!-- Heading -->
					<h3>What we do</h3>
					<!-- Story -->
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Create Story  ====-->


<!--=====================================
=            Quotes Slider              =
======================================-->
<section class="section quotes pt-0">
	<div class="container">
		<div class="row">
			<div class="col-10 m-auto text-center">
				<div class="quote-slider">
					<div class="item mb-4">
						<!-- Quote -->
						<h2>Behind every great product, there is a great mind.</h2>
						<!-- Company -->
						<cite class="ml-0">-TechCrunch</cite>
					</div>
					<div class="item mb-4">
						<!-- Quote -->
						<h2>Behind every great product, there is a great mind.</h2>
						<!-- Company -->
						<cite class="ml-0">-TechCrunch</cite>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Quotes Slider  ====-->

<!--=====================================
=            Client Slider              =
======================================-->
<section class="section clients bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-10 m-auto text-center">
				<h3>Featured In</h3>
				<div class="client-slider">
					<div class="item mb-4">
						<img class="m-auto" src="../static/images/clients/business-finder.png" alt="business-finder">
					</div>
					<div class="item mb-4">
						<img class="m-auto" src="../static/images/clients/forbes.png" alt="forbes">
					</div>
					<div class="item mb-4">
						<img class="m-auto" src="../static/images/clients/venture-beat.png" alt="venture-beat">
					</div>
					<div class="item mb-4">
						<img class="m-auto" src="../static/images/clients/tech-crunch-new.png" alt="TechCrunch">
					</div>
					<div class="item mb-4">
						<img class="m-auto" src="../static/images/clients/forbes.png" alt="forbes">
					</div>
					<div class="item mb-4">
						<img class="m-auto" src="../static/images/clients/venture-beat.png" alt="venture-beat">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Client Slider  ====-->



<!--=====================================
=            Section comment            =
======================================-->

<section class="section cta-hire bg-gary">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<!-- Hire Title -->
				<h2>We are hunting Genius Developers</h2>
				<!-- Job Description -->
				<p>Sed porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque
					in ipsum id orci porta dapibus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
				<!-- Action Button -->
				<a href="/contact" class="mt-3 btn btn-main-md">Join the team</a>
			</div>
		</div>
	</div>
</section>

<!--====  End of Section comment  ====-->


<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="../static/images/logo.jpeg" alt="footer-logo"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/themefisher/"><i class="ti-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Product</h6>
            <!-- links -->
            <ul>
              <li><a href="team.html">Teams</a></li>
              <li><a href="blog.html">Blogs</a></li>
              <li><a href="FAQ.html">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Resources</h6>
            <!-- links -->
            <ul>
              <li><a href="sign-up.html">Singup</a></li>
              <li><a href="sign-in.html">Login</a></li>
              <li><a href="blog.html">Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="career.html">Career</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Investor</a></li>
              <li><a href="privacy.html">Terms</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>Company</h6>
            <!-- links -->
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="team.html">Team</a></li>
              <li><a href="privacy-policy.html">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></small class="text-secondary">
  </div>

	<div class="text-center bg-dark py-1">
		<small> <p>Distributed By <a href="https://themewagon.com/">Themewagon</a></p></small class="text-secondary">
	 </div>
</footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
  <!-- JAVASCRIPTS -->
  <script src="../static/plugins/jquery/jquery.min.js"></script>
  <script src="../static/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="../static/plugins/slick/slick.min.js"></script>
  <script src="../static/plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="../static/plugins/syotimer/jquery.syotimer.min.js"></script>
  <script src="../static/plugins/aos/aos.js"></script>
  <!-- google map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
  <script src="../static/plugins/google-map/gmap.js"></script>
  
  <script src="../static/js/script.js"></script>
</body>

</html>